@use "../helpers/" as *;

.about {
  padding-block: fluid(180, 80);
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__title {
    margin-bottom: rem(15);
  }

  &__content {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: rem(30) rem(30);

    @include tablet {
      flex-direction: column;
    }
  }
}
